<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Teste 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Teste</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
<div>
  <ion-button color="primary">
    <ion-icon slot="icon-only" name="add-circle"></ion-icon>
  </ion-button>
</div>
